<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/output.css">
    <title>IFILAF</title>
</head>
<!--
<style>
    html {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: aliceblue;
    }
</style>
-->
<body class="bg-slate-100">
    <h1 class="text-black text-center font-bold text-3xl ">Welcome!</h1>
</body>
</html>