{% extends "base.html" %}

{% block content %}

<h1 class=" text-center font-bold text-3xl p-6">Ztráty a nálezy GJK</h1>

<div class="mb-6">
    <div class="mb-6 lg:mb-8">

    {% if current_user.is_authenticated %}
    <button class="primary_button">Přidat nový</button>
    {% else %}
    <strong>Pro editaci obsahu se <a href="auth/login" class="link">přihlaste!</a></strong>
    {% endif %}

    </div>

    <i>Zobrazit: </i>

    <div class="flex flex-wrap">
        <button class="filter_button_selected">Vše</button> 
        <button class="filter_button">Ztraceno</button>
        <button class="filter_button">Nalezeno</button>
        <button class="filter_button">Archiv</button>
        <button class="filter_button">Spam</button> 
    </div>
    
</div>

{% include "preview_list.html" %}

{% endblock %}

<script src="../static/script.js"></script>
