{% for preview in test_items%}

<a class="flex bg-blue-100 dark:bg-neutral-800 rounded-2xl mx-4 mb-3 overflow-hidden h-[120px] items-center" href="item">

    <!-- Image -->
    <div class="shrink min-w-0 p-2 h-full flex items-center max-w-[200px]">
        <img src="{{preview.image}}" class="max-h-full w-auto object-contain rounded-xl">
    </div>

    <!-- Text -->
    <div class="basis-0 grow min-w-[150px] px-3 flex flex-col justify-center overflow-hidden">
        <strong class="truncate">{{preview.title}}</strong>
        <p class="dark:text-gray-400 text-sm line-clamp-3">{{preview.info}}</p>
    </div>

    <!-- Date -->
    <span class="px-3 shrink-0">
        {{preview.date}}
    </span>

</a>

{% endfor %}

{% if more_items_available %}
    <div class="justify-center flex" id="next_items">
        <button class="p-3 md:px-5 mt-5 md:7 lg:mt-9 bg-blue-400 rounded-lg dark:bg-indigo-700" hx-get="load_next_items" hx-target="#next_items" hx-swap="outerHTML">načíst další položky</button>
    </div>
{% endif %}