{% for preview in test_items%}

<a class="flex items-center bg-blue-100 dark:bg-neutral-800 rounded-2xl mx-4 mb-3 overflow-hidden h-[120px]" href="#">
    <!-- Image -->
    <div class="basis-1/2 h-full flex items-center justify-center p-2">
        <img src="{{preview.image}}" class="h-[100px] object-contain rounded-xl max-w-full">
    </div>
    
    <!-- Text -->
    <div class="basis-3/5 h-full flex flex-col justify-center overflow-hidden px-3">
        <strong class="truncate">{{preview.title}}</strong>
        <p class="dark:text-gray-400 text-sm line-clamp-3 overflow-hidden">{{preview.info}}</p>
    </div>
    
    <!-- Date -->
    <div class="basis-1/4 h-full flex items-center justify-end px-3 text-sm text-right">
        {{preview.date}}
    </div>
</a>

{% endfor %}

{% if more_items_available %}
    <div id="next_items">
    <br>
    <br>
    <div class="justify-center flex">
        <button class="p-3 md:px-5 bg-blue-400 rounded-lg dark:bg-indigo-700" hx-get="load_next_items" hx-target="#next_items" hx-swap="outerHTML">načíst další položky</button>
    </div>
    <div>
{% endif %}