{% for preview in test_items%}

<a class="flex bg-blue-100 dark:bg-neutral-800 rounded-2xl mx-4 mb-3 overflow-hidden h-[120px] place-items-center" href="item">
    <!-- Image -->
    <div class="h-full shrink items-center justify-center p-2">
        <img src="{{preview.image}}" class="h-full w-full object-contain rounded-xl">
    </div>
    
    <!-- Text -->
    <div class="h-full flex-grow flex flex-col justify-center overflow-hidden px-3 min-w-[100px]">
        <strong class="truncate">{{preview.title}}</strong>
        <p class="dark:text-gray-400 text-sm line-clamp-3 overflow-hidden">{{preview.info}}</p>
    </div>
    
    <!-- Date -->
    <span class="px-3 flex-none justify-end">
        {{preview.date}}
    </span>
</a>

{% endfor %}

{% if more_items_available %}
    <div class="justify-center flex" id="next_items">
        <button class="p-3 md:px-5 mt-5 md:7 lg:mt-9 bg-blue-400 rounded-lg dark:bg-indigo-700" hx-get="load_next_items" hx-target="#next_items" hx-swap="outerHTML">načíst další položky</button>
    </div>
{% endif %}